.NavLink {
    position: relative;
    background :rgb(54, 54, 54);
    margin-left: 0.25em;
    margin-right: 0.25em;
    color: #61DBFB;
}

.NavLink:hover {
    background: #61DBFB;
    color: black;
}

a, u {
    text-decoration: none;
}

/* bootstrap navbar */

.navbar {
  min-height: 27px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .NavLink {
    margin-left: 0.25em;
    margin-right: 0.25em;
    line-height: 27px;
  }
}

@media (min-width: 1370px){
  .NavLink {
      margin-left : 1em;
      margin-right : 1em;
  }
}